.delete-task-dialog {
  text-align: center;
}

.delete-task-dialog h2{
  font-size: 2.3rem;
}

.delete-task-dialog p {
  font-size: 1.6rem;
}

.dialog-actions {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
