<div class="wrapper-task">
  <div class="task__header">
    <div class="task__header-text">
      <span class="task__title">Editar Tarea </span>
      <span class="task__subtitle">Modifica los detalles de la tarea para actualizar su información.</span>
    </div>

    <div class="close" (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <form class="wrapper-form" [formGroup]="updateTaskForm">

    <mat-form-field appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput type="text" formControlName="title" appValidateErrors>
      <mat-icon matSuffix>title</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" appValidateErrors></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status" appValidateErrors>
        <mat-option value="PENDIENTE">Pendiente</mat-option>
        <mat-option value="COMPLETADO">Completada</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Transferir esta tarea</mat-label>
      <mat-select formControlName="transfer" appValidateErrors>
        <mat-option value="no">No</mat-option>
        <mat-option value="yes">Sí</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="updateTaskForm.get('transfer')?.value === 'yes'">
      <mat-label>Selecciona el usuario</mat-label>
      <mat-select formControlName="transferUser" appValidateErrors>
        <mat-option *ngFor="let user of users" [value]="user.id">
          {{ user.name }} - {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Botón para guardar o actualizar la tarea -->
    <div class="btn-design" (click)="handleTaskAction()">
      <mat-icon>check</mat-icon>{{ isTransferUser ? 'Transferir Tarea' : 'Actualizar Tarea' }}
    </div>
  </form>
</div>
